* {
    box-sizing: border-box;
    text-align: center;
}

h2 {
    color: crimson
}

.todo-list {
    justify-content: center;
    border: 5px double grey;
    margin: 5px 35%;
}

.item {
    margin: 10px 20px;
    
}

p {
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.2rem;
}

.item.completed {
    text-decoration: line-through;
    text-decoration-thickness: 4px;
    text-decoration-color: red;
    text-decoration-style: dashed;
}